<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>490451589176-i3al2aomd8ti5ufco3f82j7lskcft4ho.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.490451589176-i3al2aomd8ti5ufco3f82j7lskcft4ho</string>
	<key>API_KEY</key>
	<string>AIzaSyDL8vfPHwe_FYlmL4VdZ0oU9b-aGDWA4Bk</string>
	<key>GCM_SENDER_ID</key>
	<string>490451589176</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sharedtogether.app.SharedTogether</string>
	<key>PROJECT_ID</key>
	<string>shared-together</string>
	<key>STORAGE_BUCKET</key>
	<string>shared-together.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:490451589176:ios:ebc1bd8d33740aae</string>
	<key>DATABASE_URL</key>
	<string>https://shared-together.firebaseio.com</string>
</dict>
</plist>